<div>
  <h3>{{localize "turn-reminder.reminder"}}</h3>
</div>

<div>
    <ul>
        {{#each reminders as |reminder key|}}
        <div class="dice-formula" style="display: block;cursor: pointer;height: 100%;">
          <label><input type="checkbox"/> {{reminder}}</label>
        </div>
        {{/each}}
    </ul>
</div>