.turn-reminder-reminder-content {
  min-width: 400px;
  width: max-content !important;
  max-width: 50%;
  height: max-content !important;
  max-height: 75%;
}

.reminder label {
  cursor: pointer;
}

.reminder-group {
  cursor: pointer;
}

.reminder-group.done .reminder-actions {
  display: none;
}

.reminder-group-checkbox {
  width: 32px;
  vertical-align: top;
}

.reminder-group-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
}

.reminder-subgroup-label {
  display: block;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.reminder-action[disabled] {
  opacity: .7;
}

.reminder-action-summary {
  display: flex;
  width: 100%;
}

.reminder-action:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.reminder-action .reminder-action-description {
  display: none;
}

.reminder-action.open .reminder-action-description {
  display: block;
}

.reminder-action-image {
  width: 30px;
  height: 30px; 
  background-size: 30px;
  display: inline-block;
}

.reminder-action-name {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  flex-grow: 1;
}

.reminder-action-limit {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.reminder-action-image:hover {
  background-image: url("/icons/svg/d20-black.svg") !important;
}